<h1>Dice</h1>

<button type="button" class="btn btn-default" (click)="addD20()"><i class="glyphicon glyphicon-plus-sign"></i> D20</button>
<button type="button" class="btn btn-default" (click)="addD12()"><i class="glyphicon glyphicon-plus-sign"></i> D12</button>
<button type="button" class="btn btn-default" (click)="addD8()"><i class="glyphicon glyphicon-plus-sign"></i> D8</button>
<button type="button" class="btn btn-default" (click)="addD6()"><i class="glyphicon glyphicon-plus-sign"></i> D6</button>
<button type="button" class="btn btn-default" (click)="addD4()"><i class="glyphicon glyphicon-plus-sign"></i> D4</button>